<%= form_for @task do |f| %>

  <%= error %>

  <div class="field">
    <p>
      <%= f.label :activity %>
      <%= f.text_field :activity, label: 'Activity' %><br />
    </p>
  </div>

  <div class="field">
    <p>
      <%= f.label :message %>
      <%= f.text_field :message %><br />
    </p>
  </div>

  <div class="field">
    <br />
    <p>
      <%= f.label :schedule_time, "Schedule Text Delivery Date" %>:
      <%= f.date_select :schedule_time %><br />

      <%= f.label :schedule_time, "Schedule Text Delivery Time" %>:
      <%= f.time_select :schedule_time %><br />
    </p>
  </div>

  <div class="form-actions">
    <br />
    <p>
      <%= f.submit "Select Your Recipients Next!" %>
      <%= link_to 'Cancel', user_path(current_user.id) %>
    </p>
  </div>

<% end %>