<h1>Tasks #index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<ul class="tasks">
  <% @tasks.each do |task| %>
    <div>
      <tr>
        <td><%= task.activity %></td>
        <td><%= task.message %></td>
        <td><%= task.recipient_id %>
        <td><%= task.schedule_time %></td>
          <td>
            <h3><%= @recipients.each do |recipient|  %></h3>
              <td><%= recipient.name %></td>
              <td><%= recipient.phone %></td>
          </td>
            <% end %>
	  </tr>
    </div>
    <% end %>
</ul>