<h1>Welcome <%= @user.name %>!</h1>


<div>
	<h1>Here are your accountability buddies:</h1>

	  <%= link_to "Add somebody to keep you accountable!", new_recipient_path, class: "btn btn-lg btn-primary" %>

	<ul class="recipients">
	  <% @recipients.each do |recipient| %>
	    <div>
	      <tr>
	        <td><%= recipient.name %></td>
		  </tr>
	    </div>
	    <% end %>
	</ul>
</div>

<div>  
	<h1>Here are all your scheduled goals:</h1>

		  <%= link_to "Set a new goal!", new_task_path, class: "btn btn-lg btn-primary" %>

	<ul class="tasks">
	  <% @tasks.each do |task| %>
	    <div>
	      <tr>
	        <h3>Goal:</h3>
	        <td><%= task.activity %></td>

	        <td>
	          <h3>SMS:</h3>
	            <p><%= task.message %></p>
	        </td>

	        <td>
	        <h3>Text Outbound at:</h3>
	        <%= task.schedule_time %>
	        </td>
			
			<h3>Keeping you accountable for this task:</h3>
			<% task.recipients.each do |recipient| %>
			  <div>
			  <%= recipient %>
			  </div>
			<% end %>
			</br>
			</br>
		  </tr>
	    </div>
	    <% end %>

	</ul>
</div>

