<h1>Welcome <%= @user.name %>!</h1>


<div>
	<h1>Here are your accountability buddies:</h1>

	  <%= link_to "Add somebody to keep you accountable!", new_recipient_path, class: "btn btn-lg btn-primary" %>

	<ul class="recipients">
	  <% @recipients.each do |recipient| %>
	    <div>
	      <tr>
	        <td><%= recipient.name %></td>
		  </tr>
	    </div>
	    <% end %>
	</ul>
</div>

<div>  
	<h1>Here are all your scheduled goals:</h1>

		  <%= link_to "Set a new goal!", new_task_path, class: "btn btn-lg btn-primary" %>

	<ul class="tasks">
	  <% @tasks.each do |task| %>
	    <div>
	      <tr>
	        <td><%= task.activity %></td>

	        <td>
	          <h3>This is the SMS you sent out</h3>
	            <p><%= task.message %></p>
	        </td>

	        <td>
	          <h3>Your accountability buddies!</h3>
	            <p><%= task.recipients.each do |recipient| %>
	              <ol><%= recipient.name %></ol>
	            </p>
	              <% end %>
	          </h3>
	        </td>

	        <td><%= task.schedule_time %>

		  </tr>
	    </div>
	    <% end %>
	</ul>
</div>

